:root {
	--blue: #11009E; /* Define your primary color variable */
	--purple: #4942E4; /* Define your border color variable */
	--pink: #C4B0FF; /* Define your box shadow color variable */
	--white: #FFFFFF;
	--black : #2D2D2D;
    --gray : #ebebebab ; 
    --green :#67AA92 ;
}



.header-top {
    margin-top: 15px;
    background-color: #ffffff;
    height: 120px;
    max-width: 1915px;

}
.dir-rtl {
    direction: rtl;
}
    
.mid-header{
    font-size: 60px;
    margin-left: 385px;
    text-shadow: 0px 1px 6px #524e4e;


}
.btn-menu{
    width: 180px;
    height: 60px;
    border-radius: 25px;
    background-color: var(--blue);
}

.dropdown-menu {
    width: 400px !important;
    height: 400px !important;
    top: -95px !important;

}
.dropdown-text{
    color: var(--blue);
    margin-bottom: 30px;
    font-size: 50px;

}
.dropdown-toggle::after {
    content: none;
}

.dropdown-menu {
    border: 1px solid #ddd; /* Add border to the dropdown menu */
}

.dropdown-item {
    border-bottom: 1px solid #ddd;
    padding: 35px;
}

.dropdown-item:nth-child(2) {
    border-top: 1px solid #ddd; 
}

.dropdown-item:last-child {
    border-bottom: none; 
}

.profile-pic-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-container{
    background-color: var(--gray);
    max-width: 1883px;

}
.search-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 35px;
    margin-top: 5px;
    font-size: 25px;
    outline: none; 
    z-index: 10;

}
.search-btn:hover {
    background-color: transparent;
    color: var(--pink)
}
.search-btn:focus {
    outline: none; 
}
.search-box {
    border-radius: 10px !important;
    height: 45px;

}
.input-group.search-box {
    width: 750px;
}
.form-control.search-box {
    border: 1px solid black;

}
.div-search-box{
    display: flex;
    justify-content: center;
    margin-top: 150px !important;

}

.search-text {
    font-size: 25px;
    font-weight: 700;
    color: #8A8484;
}

.slider {
    display: grid;
    justify-content: center;
}

.slider-item{
    width: 1000px;
    height: 380px;
    background: linear-gradient(to right, #d2cef7, var(--purple)); 
    border-radius: 30px;
    /* margin-right: 40px; */
    border: 1px solid #ddd; /* Add a border for visual separation */
    margin: 10px; /* Add some margin for spacing */
    padding: 20px; /* Add padding for content spacing */
    box-sizing: border-box; 
}

.job-image {
    max-width: 100%;
    width: 420px;
    height: 320px;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 28px;
}

.job-info {
    margin-top: 20px;
    margin-left: 40px;
}
.job-title {
    font-size: 35px;
}
.job-info p{
    margin-top: 25px;
}

.btn-container {
    margin-top: 30px;
}
.btn-open-job { 
    border-radius: 15px;
    color: var(--white);
    background-color: var(--blue);
    width: 140px;
    margin-left: 10px;
}
.btn-send-resume {
    border-radius: 15px;
    color: var(--white);
    background-color: var(--green);
    width: 140px;
}

.icon-back {
    position: absolute;
    margin-left: -30px;
    font-size: 27px;
    margin-top: 8px;
    color: #8A8484;
}





.bottom-footer {
    background-color: #1B1B1B;
    color: var(--white);
    height: 300px;
}
.footer-section{
    margin-top: 70px;
}
.footer-section p {
    margin-bottom: 0px;
}
.footer-left {
    margin-left: 150px;
}

.job-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pink);
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    /* width: 950px; */
}

.job-name {
    font-size: 20px;
    font-weight: bold;
}

.view-job-tag {
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.people-text { 
    font-size: 30px;
    font-weight: 700;
    color: #8A8484;
}
.applicant-box {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    background-color: #d1d1d1;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    height: 150px;
    position: relative;
    width: 1000px;

}

.applicant-info {
    display: flex;
    align-items: center;
}

.applicant-image {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-right: 20px;
}

.applicant-details {
    flex-grow: 1;
}

.applicant-name {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.applicant-email {
    font-size: 18px;
    color: #6c757d;
    margin-bottom: 10px;
}

.download-resume {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 20px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 10px;
    font-size: 25px;
}

.accept-button, .reject-button {
    border: none;
    cursor: pointer;
}

.accept-button {
    background-color: #67AA92;
    color: #fff;
    border-radius: 10px;
    height: 35px;
    width: 170px;
    position: absolute;
    right: 40px;
    top: 60px;
}

.reject-button {
    background-color: #b1566c;
    color: #fff;
    border-radius: 10px;
    height: 35px;
    width: 170px;
    /* margin-left: 225px; */
    /* margin-top: 80px; */
    position: absolute;
    right: 40px;
    top: 100px;
}
