<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css'%}">
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{% static 'css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.min-free.css'%}">
    <!-- <link rel="stylesheet" href="css/owl.carousel.min.css"> -->
    <!-- <link rel="stylesheet" href="css/owl.theme.default.min.css"> -->
    <link rel="stylesheet" href="{% static 'addjob.css'%}">
    <title>Make a Job</title>
</head>

<body>
    <header>
        <div class="header-top">
            <div class="row header-top ">
                <div class="col-3">
                    <div class="profile-pic-container ml-5">
                        <img src="{% static 'images/andrew.jpg'%}" alt="Profile Pic" class="profile-pic">
                    </div>
                </div>
                <div class="col-4">
                    <div class="mid-header">
                        Chabook
                    </div>
                </div>
                <div class="col-5 ">
                    <div class="dropdown mr-4 text-right">
                        <button class="btn btn-secondary dropdown-toggle btn-menu mt" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="text-center dropdown-text">Menu</div>
                            <a class="dropdown-item" href="{% url 'home' %}">Home</a>
                            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <main>
        <div class="container-fluid main-container">
    
            <div class="slider mt-5">
                <div class="slider-item">
                    <div class="row">
                        <div class="col-6">
                            <img class="job-image" src="{% static 'images/company.jpeg'%}" alt="Job Image">
                        </div>
                        <div class="col-6">
                            <div class="job-info">
                                <form id="addjobForm" method="POST" action="">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="username"><h5>Job Title</h5></label>
                                    <input type="text" class="form-control" name="title" placeholder="Enter the job title...">
                                </div>

                                <div class="form-group">
                                    <label for="username"><h5>Company Name</h5></label>
                                    <input type="text" class="form-control" name="company_name" placeholder="Enter your company name...">
                                </div>

                                <div class="form-group">
                                    <label for="username"><h5>Collabration Type</h5></label>
                                    <input type="text" class="form-control" name="type_collabration" placeholder="Enter your collabration type...">
                                </div>

                                <div class="form-group">
                                    <label for="username"><h5>Salary</h5></label>
                                    <input type="text" class="form-control" name="salary" placeholder="Enter the job salary...">
                                </div>

                                <div class="form-group">
                                    <label for="username"><h5>Location</h5></label>
                                    <input type="text" class="form-control" name="location" placeholder="Enter the job's location...">
                                </div>

                                {% comment %} <p class="job-description mt-5">
                                    Job Description
                                </p>
                                <div class="round-text-box" contenteditable="true" name="description">
                                    <p>Write a description...</p>
                                </div> {% endcomment %}

                                <div class="form-group">
                                    <label for="username"><h5>Job description</h5></label>
                                    <textarea type="text" class="round-text-box" name="job_description" placeholder="Write a description..."></textarea>
                                </div>

                                {% comment %} <i class="fas fa-briefcase icon-jobs"></i> <p contenteditable="true">Your Company name</p>
                                <i class="far fa-clock icon-jobs"></i> <p contenteditable="true">Full Time / part-time</p>
                                <i class="fas fa-dollar-sign icon-jobs"></i><p contenteditable="true"> ? $ / month</p>
                                <i class="fas fa-map-marker-alt icon-jobs"></i> <p contenteditable="true">Location</p> {% endcomment %}
                                <div class="btn-container">
                                    <a><button class="btn btn-open-job" type="submit">Make the job</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </main>
    <footer>
        <div class="container-fluid bottom-footer">
            <div class="row">
                <div class="col-4 footer-section footer-left">
                    <h2>Chabook</h2>
                    <p class="mt-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Perspiciatis culpa suscipit a tempora pariatur perferendis voluptates dolor vero, 
                        ex ipsam sunt tempore reiciendis aperiam totam quae nesciunt illum deserunt! Vitae!
                    </p>
                </div>
                <div class="col-2 footer-section">
                    <h5 class="mb-4">Lorem ipsum dolor sit</h5>
                    <p>Lorem ipsum dolor sit</p>
                    <p>Lorem ipsum dolor sit</p>
                    <p>Lorem ipsum dolor sit</p>
                    <p>Lorem ipsum dolor sit</p>
                </div>
                <div class="col-2 footer-section">
                    <h5 class="mb-4">Lorem ipsum dolor sit</h5>
                    <p>Lorem ipsum dolor sit</p>
                    <p>Lorem ipsum dolor sit</p>
                    <p>Lorem ipsum dolor sit</p>
                    <p>Lorem ipsum dolor sit</p>
                </div>
                <div class="col-3 footer-section">
                    <h5 class="mb-4">Lorem ipsum dolor sit</h5>
                    <p>Lorem ipsum dolor sit</p>
                    <p>Lorem ipsum dolor sit</p>
                    <p>Lorem ipsum dolor sit</p>
                    <p>Lorem ipsum dolor sit</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Add your content here -->
    <script src="{% static 'js/jquery-3.6.0.min.js'%}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/slick.min.js'%}"></script>
    <script src="{% static 'js/AntiOverflowFontResizer.min.js'%}"></script>
    <script src="{% static 'search.js'%}"></script>



    
</body>

</html>