/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
} */


:root {
	--blue: #11009E; /* Define your primary color variable */
	--purple: #4942E4; /* Define your border color variable */
	--pink: #C4B0FF; /* Define your box shadow color variable */
	--white: #FFFFFF;
	--black : #2D2D2D;
    --gray : #ebebebab ; 
    --green :#67AA92 ;
}



.header-top {
    margin-top: 15px;
    background-color: #ffffff;
    height: 120px;
    max-width: 1915px;

}
.dir-rtl {
    direction: rtl;
}
    
.mid-header{
    font-size: 60px;
    margin-left: 385px;
    text-shadow: 0px 1px 6px #524e4e;


}
.btn-menu{
    width: 180px;
    height: 60px;
    border-radius: 25px;
    background-color: var(--blue);
}

.dropdown-menu {
    width: 400px !important;
    height: 400px !important;
    top: -95px !important;

}
.dropdown-text{
    color: var(--blue);
    margin-bottom: 30px;
    font-size: 50px;

}
.dropdown-toggle::after {
    content: none;
}

.dropdown-menu {
    border: 1px solid #ddd; /* Add border to the dropdown menu */
}

.dropdown-item {
    border-bottom: 1px solid #ddd;
    padding: 35px;
}

.dropdown-item:nth-child(2) {
    border-top: 1px solid #ddd; 
}

.dropdown-item:last-child {
    border-bottom: none; 
}

.profile-pic-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.profile-pic-header {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-container{
    background-color: var(--gray);
    height: 1400px;
    max-width: 1883px;
    /* text-align: -webkit-center; */
    display: grid;



}

.btn-container {
    margin-top: 30px;
}
.btn-open-job { 
    border-radius: 15px;
    color: var(--white);
    background-color: var(--blue);
    width: 140px;
    margin-left: 10px;
}
.btn-send-resume {
    border-radius: 15px;
    color: var(--white);
    background-color: var(--green);
    width: 140px;
}


.bottom-footer {
    background-color: #1B1B1B;
    color: var(--white);
    height: 300px;
}
.footer-section{
    margin-top: 70px;
}
.footer-section p {
    margin-bottom: 0px;
}
.footer-left {
    margin-left: 150px;
}


.edit-profile-container {
    max-width: 650px;
    /* width: 100%; */
    padding: 20px;
    /* background-color: #fff; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    margin-top: 100px;
    margin-left: 630px;
    height: 850px;
    position: relative;
    z-index: 1;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto 20px;
    overflow: hidden;
    border: 2px solid #ddd;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.profile-pic {
    box-shadow: 0px 0px 31px -2px #67AA92;

}
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.gender-options {
    display: flex;
    align-items: center;
}

.gender-options label {
    margin-right: 10px;
}

.btn-upload {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--pink) ;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.form-check-input.role-selector {
	appearance: none;
	width: 20px; 
	height: 20px; 
	border: 2px solid var(--pink); 
	border-radius: 4px;
}

.form-check-input.role-selector:checked {
    background-color: var(--pink);
}

.about-youself {
    border-radius: 20px;
    height: 150px;
    max-height: 300px;
}

.btn-change-pic {
    border-radius: 15px;
    color: var(--white);
    background-color: var(--blue);
    width: 140px;
    margin-left: -163px;
    margin-top: 197px;
    position: absolute;
}
#fileInput {
    display: none !important;
}