:root {
	--blue: #11009E; /* Define your primary color variable */
	--purple: #4942E4; /* Define your border color variable */
	--pink: #C4B0FF; /* Define your box shadow color variable */
	--white: #FFFFFF;
	--black : #2D2D2D;
    --gray : #ebebebab ; 
    --green :#67AA92 ;
}



.header-top {
    margin-top: 15px;
    background-color: #ffffff;
    height: 120px;
    max-width: 1915px;

}
.dir-rtl {
    direction: rtl;
}
    
.mid-header{
    font-size: 60px;
    margin-left: 385px;
    text-shadow: 0px 1px 6px #524e4e;


}
.btn-menu{
    width: 180px;
    height: 60px;
    border-radius: 25px;
    background-color: var(--blue);
}

.dropdown-menu {
    width: 400px !important;
    height: 400px !important;
    top: -95px !important;

}
.dropdown-text{
    color: var(--blue);
    margin-bottom: 30px;
    font-size: 50px;

}
.dropdown-toggle::after {
    content: none;
}

.dropdown-menu {
    border: 1px solid #ddd; /* Add border to the dropdown menu */
}

.dropdown-item {
    border-bottom: 1px solid #ddd;
    padding: 35px;
}

.dropdown-item:nth-child(2) {
    border-top: 1px solid #ddd; 
}

.dropdown-item:last-child {
    border-bottom: none; 
}

.profile-pic-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-container{
    background-color: var(--gray);
    height: 2000px;
    max-width: 1883px;

}
.search-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 35px;
    margin-top: 5px;
    font-size: 25px;
    outline: none; 
    z-index: 10;

}
.search-btn:hover {
    background-color: transparent;
    color: var(--pink)
}
.search-btn:focus {
    outline: none; 
}
.search-box {
    border-radius: 10px !important;
    height: 45px;

}
.input-group.search-box {
    width: 750px;
}
.form-control.search-box {
    border: 1px solid black;

}
.div-search-box{
    display: flex;
    justify-content: center;
    margin-top: 150px !important;

}

.search-text {
    font-size: 25px;
    font-weight: 700;
    color: #8A8484;
}

.slider {
    display: grid;
    justify-content: center;
}

.slider-item{
    width: 1000px;
    height: 380px;
    background: linear-gradient(to right, #d2cef7, var(--purple)); 
    border-radius: 30px;
    /* margin-right: 40px; */
    border: 1px solid #ddd; /* Add a border for visual separation */
    margin: 10px; /* Add some margin for spacing */
    padding: 20px; /* Add padding for content spacing */
    box-sizing: border-box; 
}

.job-image {
    max-width: 100%;
    width: 420px;
    height: 320px;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 28px;
}

.job-info {
    margin-top: 20px;
    margin-left: 40px;
}
.job-title {
    font-size: 35px;
}
.job-info p{
    margin-top: 25px;
}

.btn-container {
    margin-top: 30px;
}
.btn-open-job { 
    border-radius: 15px;
    color: var(--white);
    background-color: var(--blue);
    width: 140px;
    margin-left: 10px;
}
.btn-send-resume {
    border-radius: 15px;
    color: var(--white);
    background-color: var(--green);
    width: 140px;
}
















.bottom-footer {
    background-color: #1B1B1B;
    color: var(--white);
    height: 300px;
}
.footer-section{
    margin-top: 70px;
}
.footer-section p {
    margin-bottom: 0px;
}
.footer-left {
    margin-left: 150px;
}