<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min-free.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Sign Up</title>
</head>

<body>
    <div class="container-xl">
        <div class="col align-self-center">
            <div class="login-container">
                <h2 class="text-center mb-4 login-page-text">Sign up</h2>
                <form id="signupForm" method="POST" action="">
                    {% csrf_token %}
                    {% load widget_tweaks %}
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            {{form.username|add_class:"form-control input-border"|attr:"placeholder:Username..."}}
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            {{form.email|add_class:"form-control input-border"|attr:"placeholder:Email..."}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password1">Password:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            {{form.password1|add_class:"form-control input-border"|attr:"placeholder:Password..."}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password2">Password Confirmation:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            {{form.password2|add_class:"form-control input-border"|attr:"placeholder:Confirm Password..."}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="role" class="mr-2 mt-2">Role:</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input role-selector" type="radio" name="role" id="inlineRadioJobSeeker" value="1">
                            <label class="form-check-label" for="inlineRadio1">User</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input role-selector" type="radio" name="role" id="inlineRadioEmployer" value="0">
                            <label class="form-check-label" for="inlineRadio2">Employer</label>
                        </div>
                    </div>
                    
                    {{form.errors}}
                    
                    <div>
                        <div class="row">
                            <div class="col-6"><a href="{% url 'login' %}">Already have an account</a></div>
                            <div class="col-6"><button type="submit" class="btn btn-primary btn-block btn-submit">Sign Up</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery-3.6.0.min.js'%}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    
</body>

</html>